*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    background: #efefef;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5px;
}
.logo{
    width: 160px;
    margin-left: 45px;
}
.nav-left,.nav-right{
    display: flex;
    align-items: center
    
}
.nav-left ul li
{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img
{
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon{
    margin-left: 30px;
    padding-top: 10px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.search-box{
    
    background: #efefef;
   width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.search-box img{
    width 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border:2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 10px;
    right: 0px;
}

.white-portion{
    display: flex;
    margin: 20px auto;
    width: 1000px;
    height: 150px;
    background-color: white;
    padding-top: 20px;
    position: relative;
    top: -15px;
}
.white-portion img {

    display: flex;
    width: 120px;
    height: 125px;
    margin-left: 20px; 
    padding-top: 0px; 
    border-radius: 5px;

}
.name{
    margin-left: 160px;
    position: relative;
    top: -110px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.friends{
    margin-left: 160px;
    position: relative;
    top: -100px;
    font-family:serif;
    font-size: 15px;
    color: #333;
    
}
.members{
    margin-left: 160px;
    position: relative;
    top: -80px;
}
.members ul li
{
    list-style: none;
    display: inline-block;
}
.members ul li img
{
    width: 25px;
    height: 25px;
    margin: 0;
    border-radius: 50%;
}
.add-friend {
    width: 110px;
    height: 40px;
    background: #efefef;
    position: absolute;
    top: 35px; 
    right: 180px; 
    display: flex;
    align-items: center;
}

.add-friend img{
    width: 30px;
    height: 25px;
    margin-right: 5px;
}

.add-friend label {
    color: black;
    font-size: 16px;
    margin: 0; 
    display: flex;
    align-items: center; 
}



.message {
    width: 130px;
    height: 40px;
    background: #1876f2;
    position: absolute;
    top: 35px;
    right: 20px;
    display: flex;
    align-items: center;
}

.message img {
    width: 30px;
    height: 25px;
    margin-right: 5px; 
}

.message label {
    color: white;
    font-size: 16px;
    margin: 0; 
    display: flex;
    align-items: center; 
}
.more-portion{
    width: 50px;
    height: 30px;
    background: #efefef;
    position: absolute;
    top: 100px;
    right: 21px;
    display: flex;
    align-items: center; 
}
.more-portion img{
    width: 15px;
    height: 5px;
    margin-right: 5px; 
}


.mind-white-portion{
    display: flex;
    margin: 20px auto;
    width: 600px;
    height: 200px;
    background-color: white;
    padding-top: 20px;
    right: 265px;
    position: absolute;
    top: 240;
}
.pro-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
}
.label1 {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.label2 {
    font-size: 10px;
    margin-top: 30px;
    margin-left: -105px;
}
.label3 {
    font-size: 15px;
    margin-top: 80px;
    margin-left: -30px;
    font-family: serif;
}

.label3::after {
    content: '';
    display: block;
    width: 250%;
    height: 2px;
    background-color: #efefef; 
    margin-top: 45px; 
}
.lvideo-img
{
    width:20px;
    height: 14px;
    margin-left: -178px;
    margin-top: 150px;
}
.lvideo
{
    margin-left: -50px;
    margin-top: 100px;
    margin-left: 6px;
}
.photo-img
{
    width:18px;
    height: 16px;
    margin-left: 25px;
    margin-top: 150px;
}
.photo
{
    margin-left: -50px;
    margin-top: 100px;
    margin-left: 6px;
}
.video-img
{
    width:20px;
    height: 20px;
    margin-left: 23px;
    margin-top: 155px;
}
.video
{
    margin-left: -50px;
    margin-top: 101px;
    margin-left: 6px;
}
.intro{
    display: flex;
    margin: 20px auto;
    width: 380px;
    height: 350px;
    background-color: white;
    padding-top: 20px;
    left: 265px;
    position: absolute;
    top: 240;
}
.intro h2{
    margin-left: 30px;
}
.intro label{
    margin-top: 50px;
    margin-left: -35px;
    font-family: serif;

}

.line {
    content: '';
    display: block;
    width: 350px;
    height: 2px;
    background-color: #efefef; 
    margin-top: 110px; 
    position: absolute;
    left: 15px;
}

.job {
    width: 30px;
    height: 30px;
    margin-left: -362px;
    margin-top: 130px;
}

.ljob {
    width: 30px;
    height: 30px;
    position:relative;
    left: 40px; 
    top: -10px; 
    font-family: serif;
    font-size: 20px;
}
.university {
    width: 30px;
    height: 30px;
    margin-left: -362px;
    margin-top: 170px;
}

.luniversity {
    width: 30px;
    height: 30px;
    position:relative;
    left: 40px; 
    top: -9px; 
    font-family: serif;
    font-size: 20px;
}
.school {
    width: 30px;
    height: 30px;
    margin-left: -362px;
    margin-top: 215px;
}

.lschool {
    width: 30px;
    height: 30px;
    position:relative;
    left: 40px; 
    top: -9px; 
    font-family: serif;
    font-size: 20px;
}
.home {
    width: 30px;
    height: 30px;
    margin-left: -362px;
    margin-top: 255px;
}

.lhome {
    width: 30px;
    height: 30px;
    position:relative;
    left: 40px; 
    top: -9px; 
    font-family: serif;
    font-size: 20px;
}

.location {
    width: 30px;
    height: 30px;
    margin-left: -362px;
    margin-top: 295px;
}

.llocation {
    width: 30px;
    height: 30px;
    position:relative;
    left: 40px; 
    top: -9px; 
    font-family: serif;
    font-size: 20px;
}





